/* Info-PH Section */
#info-ph a {
    padding: 5rem;
    width: 30rem;
    height: 13rem;
}

#info-ph a:hover {
    padding: 5.1rem;
    width: 30.1rem;
    height: 13.1rem;
    box-shadow: var(--m3-dark3);
}

#info-ph img {
    border-radius: 0.8rem;
    width: 11rem;
    height: auto;
    margin-left: -3rem;
    padding-right: 2rem;
}

#info-ph .card p {
    font-family: 'Montserrat', sans-serif; /* added */
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: -2.4rem;
    color: var(--black); /* added */
}

#info-ph .card .read p {
    font-size: 0.8rem;
    font-weight: 500;
}

#info-ph .icon {
    width: 3rem;
}

/* added */
#info-ph .container {
    border-radius: 1.5rem;
    max-width: 100%;
    width: 30rem;
}

#info-ph .link-card {
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    #info-ph .link-card {
        flex-direction: column;
        align-items: center;
    }
}
#info-ph .card .read {
    display: flex;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}

#info-ph .card .read p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    margin: 0;
}

#info-ph .icon {
    width: 1.5rem;
    margin-left: 0.5rem;
}