/* Temporary stylesheet. To integrate with style.css */
@font-face {
    font-family: 'Inter';
    src: url(../style/font/Inter/Inter-VariableFont_opsz,wght.ttf);
}

:root {
    --yellow: rgba(231,187,65,1);
    --gray: rgba(57,62,65,1);
    --blue: rgba(25,159,228,1);
    --red: rgba(222,60,75,1);
    --m3-dark1: 0 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
    --m3-dark3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    --m3-dark5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
    background-color: var(--blue);
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Header */
header {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    padding: 0.5rem;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .icon {
    width: 1.8rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav li {
    font-weight: 600;
    list-style: none;
    display: inline-block;
    margin: 0.8rem;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--yellow);
    box-shadow: var(--m3-dark3);
}

nav .selected {
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--yellow);
    box-shadow: var(--m3-dark1);
}

.navbar {
    background-color: rgba(231,187,65,0.6);
    border-radius: 1rem;
    height: 3.5rem;
    box-shadow: var(--m3-dark1);
}

.navbar a .icon:hover {
    width: 2rem;
    height: auto;
    margin-left: 1rem;
}

/* Main */

/* Element Styling */
a:hover {
    cursor: pointer;
}

h1 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-round {
    border-radius: 1.5625rem;
    padding: 1.125rem 2rem;
    border: none;
}

.btn-round:hover {
    cursor: pointer;
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

.right {
    right: 0;
}

/* Index Page */

/* Section Styling */
.landing {
    align-items: center;
    align-self: center;
    margin-top: 2rem;
    padding: 0 12% 0 12%;
}

.landing h1 {
    padding-bottom: 0.7rem;
}

.top {
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-radius: 0 0 5rem 0;
    background-color: var(--yellow);
}

.landing p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.5rem */
    letter-spacing: -0.025rem;
}

.landing .icon {
    width: 20rem;
    height: auto;
}

.top .btn-round {
    display: inline-flex;
    height: 3.5625rem;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--red);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.top .btn-round:hover {
    box-shadow: var(--m3-dark5);
}

.btn-round .icon {
    padding-left: 2rem;
    width: 100%;
    height: auto;
}

.top .right {
    position: relative;
    left: 50%;
}

.top a {
    text-decoration: none;
}

/* About Us */
.container-devs{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    padding: 2rem;

    /*For monitoring purposes
    border-color: black;
    border-style: solid;
    */
    
}

.container-devs a{
    text-decoration: none;
    color: inherit;
}

.container-devs a:visited{
    color: inherit;
}

.container-devs a:hover{
    background-color: white;
    border-radius: 1rem;
    margin: 1rem; 
    color: var(--yellow);
    box-shadow: var(--m3-dark3);
}

.developer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    max-width: 100%;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem;
}

.developer .name{
    align-content: center;
    text-align: left;
    margin: 0;
    font-family: 'Inter', sans-serif;
    flex: 1;
    text-decoration: none;

    /* Monitoring 
    border-color: black;
    border-style: solid;
    */
}

.developer .description{
    display: none;
}

.developer img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 0.3rem;
}

/* Targets */
.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
    padding: 0 12%;
}

.card {
    background-color: white;
    border-radius: 3rem;
    height: 27rem;
    width: 100%;
    margin: 1.5rem 1.5rem 1.5rem 0;
    box-shadow: var(--m3-dark3);
}

.card .item {
    width: 17rem;
    height: fit-content;
    word-wrap: break-word;
}

.card .item p, h3 {
    text-align: left;
    white-space: normal;
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.card .item a {
    text-decoration: none;
    color: var(--blue);
}

.card .item a:hover {
    font-size: 1.02rem;
}

.badge {
    box-shadow: var(--m3-dark3);
    background-color: var(--yellow);
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

.card .badge {
    position: relative;
}

.card .badge p {
    text-align: center;
    align-self: center;
}

.references h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.references ol {
    margin-left: 1rem;
}

.references ol li {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.references a {
    text-decoration: none;
    color: var(--yellow);
}

.references a:hover {
    font-size: 0.75rem;
}

/* Footer */
footer {
    margin-top: 5rem;
    border-radius: 5rem 0 0 0;
    background-color: var(--yellow);
    padding: 2rem;
}

footer p {
    font-family: 'Inter',sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
    text-align: center;
}