@font-face {
    font-family: 'Inter';
    src: url(../style/font/Inter/Inter-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../style/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root {
    --yellow: rgba(231,187,65,1);
    --light-gray: rgba(92, 103, 125, 1);
    --gray: rgba(57,62,65,1);
    --black: rgba(30, 30, 30, 1);
    --blue: rgba(25,159,228,1);
    --dark-blue: rgba(51, 102, 153, 1);
    --red: rgba(222,60,75,1);
    --m3-dark1: 0 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
    --m3-dark3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    --m3-dark5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
    background-color: rgba(234, 229, 229, 1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.padded {
    padding: 3% 6%;
}

/* Header */
header {
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .icon {
    width: 1.8rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav li {
    font-weight: 600;
    list-style: none;
    display: inline-block;
    margin: 0.8rem;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--yellow);
    box-shadow: var(--m3-dark3);
}

nav .selected {
    background-color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--yellow);
    box-shadow: var(--m3-dark1);
}

.navbar {
    background-color: rgba(231,187,65,0.6);
    height: 3.5rem;
    padding: 2rem;
    box-shadow: var(--m3-dark1);
}

.navbar a .icon:hover {
    width: 2rem;
    height: auto;
    margin-left: 1rem;
}

/* Main */

/* Element Styling */
a:hover {
    cursor: pointer;
}

h1 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-round {
    border-radius: 1.5625rem;
    padding: 1.125rem 2rem;
    border: none;
}

.btn-round:hover {
    cursor: pointer;
}

.txt-black {
    color: var(--black);
}

.txt-white {
    color: white;
}

.right {
    right: 0;
}

/* Index Page */

/* Articles Page */
.articles-nav {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.articles-nav li {
    display: inline-block;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.articles-nav li a {
    text-decoration: none;
    color: var(--dark-blue);
}

/* References */
.references h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.references ol {
    margin-left: 1rem;
}

.references ol li {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.references a {
    text-decoration: none;
    color: var(--yellow);
}

.references a:hover {
    font-size: 0.75rem;
}

/* Footer */
footer {
    margin-top: 5rem;
    padding: 2rem;
}

footer p {
    font-family: 'Inter',sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    text-align: center;
}


/* Media Queries */
