@import "articles.css";
@import "about.css";

@font-face {
    font-family: 'Inter';
    src: url(../style/font/Inter/Inter-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../style/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root {
    --yellow: rgba(231,187,65,1);
    --light-gray: rgba(92, 103, 125, 1);
    --gray: rgba(57,62,65,1);
    --black: rgba(30, 30, 30, 1);
    --blue: rgba(25,159,228,1);
    --dark-blue: rgba(51, 102, 153, 1);
    --red: rgba(222,60,75,1);
    --m3-dark1: 0 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
    --m3-dark3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    --m3-dark5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
    background-color: rgba(234, 229, 229, 1);
}

.container {
    display: flex;
    align-items: center;
}

#news .container {
    justify-content: center;

}

.infographic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infographic {
    width: 12rem;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius:.5rem;
}

.infographic:hover {
    width: 40rem;
    box-shadow: var(--m3-dark3);
}

.padded {
    padding: 3% 6%;
}

/* Header */
header {
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: var(--m3-dark1);
}

header .icon {
    width: 2.4rem;
    height: auto;
    margin-left: 5.5rem;
    margin-right: 1rem;
}

nav {
    margin: 0 5.7rem;
}

nav li {
    font-weight: 600;
    list-style: none;
    display: inline-block;
    margin: 0.8rem;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--black);
}

nav a:hover {
    background-color: var(--dark-blue);
    padding: 0.6rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: var(--m3-dark3);
}

nav .selected {
    background-color: var(--dark-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: var(--m3-dark1);
}

.navbar {
    justify-content: space-between;
    background-color: rgba(234, 229, 229, 1);
    height: 3.5rem;
    padding: 2rem;
    box-shadow: var(--m3-dark1);
}

.navbar a .icon {
    background-color: var(--dark-blue);
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: var(--m3-dark1);
}

.navbar a .icon:hover {
    width: 2.5rem;
    height: auto;
}

.navbar h1 {
    color: var(--dark-blue);
}

.navbar h1:hover {
    font-size: 1.2rem;
    cursor: pointer;
}

/* Main */


/* Element Styling */
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1 {
    color: var(--black);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

article {
    margin: 1rem 2rem;
}

sub {
    color: var(--yellow);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-round {
    box-shadow: var(--m3-dark1);
    background-color: white;
    border-radius: 3rem;
    padding: 1.125rem 2rem;
    border: none;
}

.btn-round:hover {
    cursor: pointer;
    box-shadow: var(--m3-dark3);
    padding: 1.13rem 2.1rem;
}

.btn-round .icon {
    width: 8%;
    height: auto;
}

.txt-black {
    color: var(--black);
}

.txt-white {
    color: white;
}

.right {
    right: 0;
}

.card {
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: var(--m3-dark1);
    margin: 0.8rem;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
}

.blue-bg {
    background-color: var(--dark-blue);
}

/* Index Page */
.top {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-radius: 0 0 5rem 0;
}

.landing {
    margin-top: 2rem;
}

.landing h2 {
    margin-top: -2rem;
    font-size: 4rem;
    font-weight: 800;
}

.slideshow {
    margin-top: 12rem;
    overflow: hidden;
    height: 40rem;
}

.slideshow .slide-wrapper {
    margin-left: 5rem;
    width: 120rem;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    margin-right: 0.5rem;
    height: auto;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
}

@-webkit-keyframes slide {
    20% {margin-left: 0;}
    30% {margin-left: -30%;}
    50% {margin-left: -50%;}
    60% {margin-left: -60%;}
    70% {margin-left: -70%;}
    80% {margin-left: -80%;}
    90% {margin-left: -90%;}
}

.landing .btn-round {
    margin-top: 1rem;
    font-weight: 600;
    height: 3rem;
    width: 10rem;
}

.landing .btn-round a:hover {
    box-shadow: var(--m3-dark5);
}

.sdg h4 {
    margin-bottom: 1rem;
    color: var(--blue);
}

.sdg {
    margin-bottom: 3.5rem;
}

/* Footer */
footer {
    padding: 2rem;
}

footer p {
    font-family: 'Inter',sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .blue-bg {
        background-color: var(--blue);
    }

    /* Header */
    .navbar {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: white;
        white-space: nowrap;
    }
    .navbar h1 {
        display: none;
    }

    .navbar a .icon {
        background-color: var(--yellow);
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0;
    }

    nav .selected {
        background-color: var(--yellow);
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: white;
        box-shadow: var(--yellow);
    }

    nav a:hover {
        background-color: var(--yellow);
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: white;
        box-shadow: var(--yellow);
    }

    nav a {
        font-family: 'Inter', sans-serif, bold;
        font-size: .7rem;
        text-decoration: none;
        color: var(--black);
    }

    nav {
        margin: 0.2rem;
        box-shadow: none;
    }

    .navbar a .icon:hover {
        width: 2.5rem;
        height: 2.5rem;
    }

    /* Index Page */
    .landing {
        padding-top: 5rem;
    }

    .landing .container {
        display: flex;
        flex-direction: column;
    }

    .landing h2 {
        font-size: 3.6rem;
    }

    .landing .btn-round {
        margin-right: 13rem;
    }

    .slideshow {
        position: relative;
        margin-top: -3rem;
        display: flex;
        overflow: hidden;
    }

    .slideshow .slide-wrapper {
        width: 100%;
        min-width: 500%;
        -webkit-animation: slide 18s ease infinite;
    }

    .slideshow .container {
        display: flex;
    }

    .slide {
        float: left;
        height: auto;
        width: 100%;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    @-webkit-keyframes slide {
        20% {margin-left: 0;}
        30% {margin-left: -70%;}
        50% {margin-left: -160%;}
        60% {margin-left: -250%;}
        70% {margin-left: -300%;}
        80% {margin-left: -350%;}
        90% {margin-left: -400%;}
    }

    .sdg {
        margin-top: -2rem;
    }

    .sdg img {
        width: 85%;
    }

    
    .infographic {
        margin-left: 1rem;
        margin-right: 0rem;
        width: 20%;
    }

    .infographic:hover {
        width: 70%;
    }

    .first:hover {
        margin-left: 90%;
        margin-right: 20%;
    }

    .second:hover {
        margin-left:50%;
        margin-right:20%;
    }

    .third:hover {
        margin-left:20%;
        margin-right:40%;
    }

    .fourth:hover {
        margin-left: 20%;
        margin-right: 90%;
    }

    footer p {
        color: white;
    }

    .main-description h2{
        color: white;
    }
}


